.card {
  margin: 5px;
}

.page-title {
  margin-left: 10px;
  margin-bottom: 10px;
}

.movie h5 {
  margin-top: 10px;
}

.movie {
  padding: 5px;
}

.people h5 {
  margin-top: 10px;
}

.people {
  padding: 5px;
}

.location h5 {
  margin-top: 10px;
}

.location {
  padding: 5px;
}

.vehicle {
  padding: 5px;
}
